/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Message {
    text-decoration: underline;
    position: relative;
    bottom: -10cm;
    right: -15cm;
    z-index: 10;
    letter-spacing: 0.03cm;
}

.button {
    position: relative;
    bottom: -10cm;
    right: -15cm;
}